.CartSubmit {
  @include small-container;
  text-align: right;

  margin-bottom: rem(30px);

  &__btn {
    background-color: var(--highlight-color);
    color: var(--white);
    font-size: rem(12px);
    text-transform: uppercase;
    padding: 0.8em 1.3em;
    border-radius: 3px;

    @include mq(medium) {
      margin-right: rem(60px);
    }

    &[disabled] {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
