.CartMessage {
  @include small-container;
  padding-top: rem(15px);
  padding-bottom: rem(15px);
  @include mq(medium) {
    padding-top: rem(25px);
    padding-bottom: rem(25px);
  }

  border: 1px solid var(--highlight-color);
  border-radius: 3px;

  &__heading {
    @include heading-2;
    color: var(--highlight-color);
  }

  &__message {
    @include p-simple;
    margin-bottom: 0;
    color: var(--highlight-color);
  }

  margin-bottom: rem(30px);
  @include mq(xlarge) {
    margin-bottom: rem(50px);
  }
}
