.Button {
  background-color: var(--highlight-color);
  color: var(--white);
  font-size: rem(12px);
  text-transform: uppercase;
  padding: 0.8em 1.3em;
  border-radius: 3px;

  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &__spinner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid currentColor;
    border-top-color: var(--highlight-color);
    border-radius: 50%;
    animation: fade-in 0.3s ease-out, rotation-360 0.6s linear infinite;
  }
}
